html, body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.app-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.logo-container {
  width: 160px;
  margin-top: 40px;
}

.logo {
  width: 100%;
}

main {
  margin-top: 100px;
}

.form-url {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-url, .btn-submit {
  display: block;
}

.input-url {
  width: 640px;
  font-size: 1.2rem;
  padding: 12px;
  border: 0;
  background: #eee;
  outline-color: #4a74e8;
}

.input-url::placeholder {
  color: #aaa;
}

.btn-submit {
  width: 280px;
  margin-top: 20px;
  padding: 8px 0;
  color: #4a74e8;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid #4a74e8;
  border-radius: 3px;
  background: transparent;
}

.btn-submit:hover {
  cursor: pointer;
}

.info-success {
  width: 38%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-title {
  font-size: 2rem;
  font-weight: 500;
}

.info-url {
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #2758df;
}

.btn-copy {
  text-decoration: none;
  display: block;
  width: 120px;
  background: #4a74e8;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin: 16px auto 0;
  padding: 8px 0;
  border-radius: 3px;
}

.btn-copy:hover {
  cursor: pointer;
}